<!--pages/guide/guide.wxml-->
<view class='container'>
  <!-- 登录按钮 -->
  <view class='login'>
      <button class='accessLogin' bindtap='accessLoginAction'>员工登录</button>
      <button class='weixinLogin' bindtap='weixinLoginAction'>微信登录</button>
  </view>
  
</view>



