<!--pages/access/login/login.wxml-->
<view class='container'>
  <!-- 用户名 -->
  <view class='access'>
    <label class='accessTitle'>账   号</label>
    <input class='accessInput' value=''  placeholder='请输入账号' bindinput='getAccess' auto-focus></input>
  </view>
  <view class='line'></view>
  
   <view class='password'>
    <label class='passwordTitle'>密     码</label>
    <input class='passwordInput' value='' type='number' maxlength='12' bindinput='getPassword' password='true' placeholder='请输入密码'></input>
  </view>

  <!-- 登录按钮 -->
  <button class='loginButton' bindtap='accessLoginAction'>登录</button>
  <div class='forgotPassWord' bindtap='forgotPassWordAction'>忘记密码</div>
  
</view>
